[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=Summation
Exec=Summation
Name=Summation
# translation example:
# your app name in German locale (de)
Name[de]=Summation

